In [333]:
import pandas as pd
import numpy as np
pd.options.plotting.backend = "plotly"

import plotly.express as px

## CO2 por alimentos
Cargamos csv de emisiones CO2 por alimentos

In [334]:
fod = pd.read_csv('../data/Food/food-emissions-supply-chain.csv')
# fod.head()

In [335]:
fod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Entity                      43 non-null     object
 1   Code                        0 non-null      float64
 2   Year                        43 non-null     int64
 3   food_emissions_land_use     43 non-null     float64
 4   food_emissions_farm         43 non-null     float64
 5   food_emissions_animal_feed  43 non-null     float64
 6   food_emissions_processing   43 non-null     float64
 7   food_emissions_transport    43 non-null     float64
 8   food_emissions_retail       43 non-null     float64
 9   food_emissions_packaging    43 non-null     float64
 10  food_emissions_losses       43 non-null     float64
dtypes: float64(9), int64(1), object(1)
memory usage: 3.8+ KB

Cargamos datos de consumo de agua y a√±adimos al de alimentos.

In [336]:
columns = ['Entity', 'Code', 'Year', 'Water_l_kg']
wat = pd.read_csv('..\data\Food\water-withdrawals-per-kg-poore.csv', names=columns, header=0)
wat.head(1)

   Entity  Code  Year  Water_l_kg
0  Apples   NaN  2010       180.1

In [337]:
fdi = wat.set_index('Entity')['Water_l_kg'].to_dict()

fod['Water_l_kg'] = fod['Entity'].map(fdi)
fod.head()

,Entity,Code,Year,food_emissions_land_use,food_emissions_farm,food_emissions_animal_feed,food_emissions_processing,food_emissions_transport,food_emissions_retail,food_emissions_packaging,food_emissions_losses,Water_l_kg
0,Apples,NaN,2018,-0.028951,0.225816,0.000000,0.003820,0.095804,0.016578,0.044526,0.070808,180.1
1,Bananas,NaN,2018,-0.025534,0.269618,0.000000,0.060146,0.295830,0.020981,0.065670,0.175185,114.5
2,Barley,NaN,2018,0.008676,0.176377,0.000000,0.127703,0.035351,0.263587,0.496786,0.070692,17.1
3,Beef (beef herd),NaN,2018,23.237536,56.228063,2.680979,1.811083,0.494125,0.233538,0.352084,14.439998,1451.2
4,Beef (dairy herd),NaN,2018,1.266022,21.915529,3.503673,1.547664,0.592410,0.254032,0.374549,3.847515,2714.3

Limpieza del df

In [338]:
fod.loc[fod['Entity'] == 'Shrimps (farmed)', 'Water_l_kg'] = 220
fod = fod.drop('Year', axis=1)
# fod['Entity'].value_counts()

In [339]:
fod.loc[fod['Entity'] ==  'Lamb & Mutton', 'Entity'] = 'Lamb'
fod.loc[fod['Entity'] ==  'Beef (dairy herd)', 'Entity'] = 'Beef milk'
fod.loc[fod['Entity'] ==  'Beef (beef herd)', 'Entity'] = 'Beef meat'
fod.drop(index=19, axis=0).reset_index(drop=True)

,Entity,Code,food_emissions_land_use,food_emissions_farm,food_emissions_animal_feed,food_emissions_processing,food_emissions_transport,food_emissions_retail,food_emissions_packaging,food_emissions_losses,Water_l_kg
0,Apples,NaN,-0.028951,0.225816,0.000000,0.003820,0.095804,0.016578,0.044526,0.070808,180.1
1,Bananas,NaN,-0.025534,0.269618,0.000000,0.060146,0.295830,0.020981,0.065670,0.175185,114.5
2,Barley,NaN,0.008676,0.176377,0.000000,0.127703,0.035351,0.263587,0.496786,0.070692,17.1
3,Beef meat,NaN,23.237536,56.228063,2.680979,1.811083,0.494125,0.233538,0.352084,14.439998,1451.2
4,Beef milk,NaN,1.266022,21.915529,3.503673,1.547664,0.592410,0.254032,0.374549,3.847515,2714.3
5,Beet Sugar,NaN,0.000052,0.535721,0.000000,0.241885,0.628544,0.039322,0.090289,0.276263,217.7
6,Berries & Grapes,NaN,0.024601,0.717848,0.000000,0.000000,0.236392,0.017057,0.211092,0.324895,419.6
7,Brassicas,NaN,0.002242,0.277745,0.000000,0.000000,0.094641,0.016844,0.045303,0.077781,119.4
8,Cane Sugar,NaN,1.263041,0.491270,0.000000,0.037381,0.794510,0.036723,0.084277,0.491722,620.1
9,Cassava,NaN,0.589436,0.219994,0.000000,0.000000,0.093597,0.039322,0.044822,0.328504,0.0
10,Cheese,NaN,4.467476,13.095539,2.353058,0.740386,0.138557,0.333338,0.172091,2.577137,5605.2
11,Citrus Fruit,NaN,-0.145954,0.306733,0.000000,0.000000,0.093855,0.016685,0.044735,0.071570,82.7
12,Coffee,NaN,3.818799,10.754440,0.000000,0.613185,0.134528,0.052487,1.687496,11.466971,25.9
13,Dark Chocolate,NaN,25.814833,6.687002,0.000000,0.333744,0.110871,0.037652,0.722434,12.940209,540.6
14,Eggs,NaN,0.710381,1.319637,2.205012,0.000000,0.084064,0.035616,0.161437,0.153323,577.7
15,Fish (farmed),NaN,1.194717,8.056115,1.834420,0.044599,0.247959,0.089976,0.137537,2.027123,3691.3
16,Groundnuts,NaN,0.485152,1.575954,0.000000,0.410918,0.132597,0.046873,0.109440,0.469080,1852.3
17,Lamb,NaN,0.648247,27.025749,3.283170,1.539596,0.678854,0.300814,0.347604,5.898235,1802.8
18,Maize,NaN,0.475169,0.717274,0.000000,0.078319,0.090377,0.039313,0.090268,0.210791,215.7
19,Nuts,NaN,-3.257812,3.374407,0.000000,0.051420,0.106734,0.042639,0.123748,-0.008000,4133.8
20,Oatmeal,NaN,0.001932,1.872374,0.000000,0.057838,0.091276,0.039322,0.090289,0.327418,482.4
21,Olive Oil,NaN,-0.323684,3.672172,0.000000,0.567189,0.414114,0.039322,0.740117,0.315646,NaN
22,Onions & Leeks,NaN,0.004809,0.211039,0.000000,0.000000,0.094782,0.039250,0.044785,0.102099,14.3
23,Other Fruit,NaN,0.127035,0.372579,0.000000,0.015558,0.183165,0.016432,0.041961,0.296022,153.5
24,Other Pulses,NaN,0.033302,1.088715,0.000000,0.000000,0.096177,0.039322,0.353230,0.175633,435.7
25,Other Vegetables,NaN,0.001181,0.176173,0.000000,0.060405,0.165550,0.015135,0.041748,0.071981,102.5
26,Palm Oil,NaN,2.755585,1.875132,0.000000,1.125326,0.185117,0.038738,0.788108,0.548765,NaN
27,Peas,NaN,0.000119,0.717160,0.000000,0.000000,0.095067,0.039322,0.044822,0.078591,396.6
28,Pig Meat,NaN,2.244069,2.477098,4.298476,0.415842,0.501264,0.278096,0.432286,1.658551,1795.8
29,Potatoes,NaN,-0.001315,0.193083,0.000000,0.000000,0.093867,0.039244,0.044549,0.090706,59.1
30,Poultry Meat,NaN,3.508429,0.927822,2.452357,0.607373,0.381078,0.243977,0.292702,1.452086,660.0
31,Rapeseed Oil,NaN,0.195575,2.156630,0.000000,0.177875,0.175147,0.042541,0.776638,0.243267,NaN
32,Rice,NaN,-0.021880,3.553954,0.000000,0.065220,0.095619,0.063362,0.083854,0.611517,2248.4
33,Root Vegetables,NaN,0.013389,0.153994,0.000000,0.000000,0.113770,0.038855,0.044662,0.061610,28.4
34,Shrimps (farmed),NaN,0.330563,13.453979,4.029939,0.000000,0.330852,0.352361,0.536147,7.832022,220.0
35,Soy milk,NaN,0.179972,0.092768,0.000000,0.162509,0.109835,0.270172,0.098395,0.061527,27.8
36,Soybean Oil,NaN,2.866184,1.406294,0.000000,0.287776,0.276950,0.039403,0.786068,0.661796,NaN
37,Sunflower Oil,NaN,0.122421,1.976378,0.000000,0.210714,0.184542,0.039322,0.784465,0.281636,NaN
38,Tofu,NaN,0.958230,0.494701,0.000000,0.793885,0.176925,0.270172,0.177361,0.290470,148.6
39,Tomatoes,NaN,0.372987,0.705447,0.000000,0.012382,0.177111,0.016692,0.145671,0.658417,369.8
40,Wheat & Rye,NaN,0.097130,0.820300,0.000000,0.210129,0.125441,0.056049,0.086839,0.177935,647.5
41,Wine,NaN,-0.061264,0.626027,0.000000,0.138626,0.093284,0.039322,0.749232,0.203536,78.9

Creamos una columna id para relaciones

In [340]:
fod['Code'] = [x for x in range(1, 44)]
# fod

#### Leyenda de columnas

- Emisiones kgCO2 por kg
- Consumo de agua en litros por kg de comida

In [341]:
fod.to_csv('../data/Food/food_clean.csv', index=False)

## Soja

Cargamos datos del uso futuro de la soja recogida

In [342]:
columns = ['Entity', 'Code', 'Year', 'Food', 'Feed', 'Processed']

soy1 = pd.read_csv('..\data\Soy\soybean-production-and-use.csv', names=columns, header=1)
soy1

            Entity Code  Year    Food    Feed  Processed
0      Afghanistan  AFG  2015     0.0     0.0        NaN
1      Afghanistan  AFG  2016     0.0     0.0        NaN
2      Afghanistan  AFG  2017     0.0     0.0        NaN
3      Afghanistan  AFG  2018     0.0     0.0        NaN
4      Afghanistan  AFG  2019     0.0  3000.0        NaN
...            ...  ...   ...     ...     ...        ...
12077     Zimbabwe  ZWE  2016  2000.0     NaN    54000.0
12078     Zimbabwe  ZWE  2017  4000.0     NaN    82000.0
12079     Zimbabwe  ZWE  2018  5000.0     NaN    67000.0
12080     Zimbabwe  ZWE  2019  1000.0     NaN    66000.0
12081     Zimbabwe  ZWE  2020  4000.0     NaN    63000.0

[12082 rows x 6 columns]

In [343]:
soy1['Entity'].value_counts()

Entity
Zimbabwe                         60
Malta                            60
Low-income countries             60
Lower-middle-income countries    60
Tanzania                         60
                                 ..
Bhutan                            2
Micronesia (country)              2
Bahrain                           2
Nauru                             2
South Sudan                       2
Name: count, Length: 239, dtype: int64

Cargamos datos de la producci√≥n y consumo de soja

In [344]:
columns = ['Entity', 'Code', 'Year', 'Production', 'Yield', 'Area harvested']

soy2 = pd.read_csv('..\data\Soy\soy-production-yield-area.csv', names=columns, header=1)
soy2

        Entity Code  Year  Production     Yield  Area harvested
0       Africa  NaN  1962     84594.0  0.393471        214994.0
1       Africa  NaN  1963     87260.0  0.394851        220995.0
2       Africa  NaN  1964     76781.0  0.369237        207945.0
3       Africa  NaN  1965     73067.0  0.347998        209964.0
4       Africa  NaN  1966     77180.0  0.374569        206050.0
...        ...  ...   ...         ...       ...             ...
7421  Zimbabwe  ZWE  2017     36478.0  1.551300         23515.0
7422  Zimbabwe  ZWE  2018     69688.0  1.868000         37307.0
7423  Zimbabwe  ZWE  2019     23043.0  0.695400         33136.0
7424  Zimbabwe  ZWE  2020     59656.0  1.814700         32874.0
7425  Zimbabwe  ZWE  2021     54404.0  1.570200         34648.0

[7426 rows x 6 columns]

Unimos los df en uno conjunto y lo limpiamos

In [345]:
soy2 = soy2.drop(['Code'], axis=1)
soy = pd.merge(soy1, soy2, on=['Entity', 'Year']).reset_index(drop=True)
soy.shape

(7104, 9)

In [346]:
soy = soy[~soy['Entity'].str.contains('(FAO)')].reset_index(drop=True)
soy['Entity'].value_counts()

C:\Users\Nerea\AppData\Local\Temp\ipykernel_8444\839986000.py:1: UserWarning:

This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.

Entity
Liberia        60
Mexico         60
Pakistan       60
Oceania        60
North Korea    60
               ..
Malta           3
Bhutan          2
Cyprus          2
Luxembourg      1
Finland         1
Name: count, Length: 131, dtype: int64

In [347]:
# lst = soy['Entity'].value_counts().index.tolist()
# lst

In [348]:
soy.loc[soy['Entity'] == 'European Union (27)', 'Entity'] = 'European Union'
soy.loc[soy['Entity'] =="Cote d'Ivoire", 'Entity'] = 'Ivory Coast'
soy.loc[soy['Entity'] == 'Democratic Republic of Congo'] = 'Congo'

In [349]:
soy.head(10)

,Entity,Code,Year,Food,Feed,Processed,Production,Yield,Area harvested
0,Africa,NaN,1962,44000.0,7000.0,17000.0,84594.0,0.393471,214994.0
1,Africa,NaN,1963,31000.0,7000.0,5000.0,87260.0,0.394851,220995.0
2,Africa,NaN,1964,43000.0,6000.0,14000.0,76781.0,0.369237,207945.0
3,Africa,NaN,1965,34000.0,6000.0,12000.0,73067.0,0.347998,209964.0
4,Africa,NaN,1966,41000.0,6000.0,2000.0,77180.0,0.374569,206050.0
5,Africa,NaN,1967,48000.0,6000.0,4000.0,80884.0,0.418871,193100.0
6,Africa,NaN,1968,49000.0,7000.0,3000.0,90459.0,0.416296,217295.0
7,Africa,NaN,1969,52000.0,6000.0,6000.0,89000.0,0.459376,193741.0
8,Africa,NaN,1970,53000.0,6000.0,8000.0,97211.0,0.436648,222630.0
9,Africa,NaN,1971,60000.0,6000.0,2000.0,97545.0,0.412102,236701.0

In [350]:
soy['Year'].isnull().any()

False

In [351]:
columns_to_convert = ['Year', 'Food', 'Feed', 'Processed', 'Production', 'Yield', 'Area harvested']

for column in columns_to_convert:
    soy[column] = pd.to_numeric(soy[column], errors='coerce')

# soy['Year'] = soy['Year'].astype(int)
# soy['Year'] = soy['Year'].astype(str)
# soy['Year'] = soy['Year'] + '-01-01'
# soy['Year'] = pd.to_datetime(soy['Year'])
# soy['Year'] = soy['Year'].dt.year

In [352]:
soy['Code'] = pd.factorize(soy['Entity'])[0]+1
soy.head()

,Entity,Code,Year,Food,Feed,Processed,Production,Yield,Area harvested
0,Africa,1,1962.0,44000.0,7000.0,17000.0,84594.0,0.393471,214994.0
1,Africa,1,1963.0,31000.0,7000.0,5000.0,87260.0,0.394851,220995.0
2,Africa,1,1964.0,43000.0,6000.0,14000.0,76781.0,0.369237,207945.0
3,Africa,1,1965.0,34000.0,6000.0,12000.0,73067.0,0.347998,209964.0
4,Africa,1,1966.0,41000.0,6000.0,2000.0,77180.0,0.374569,206050.0

In [353]:
len(soy['Entity'].value_counts()) == len(soy['Code'].value_counts())

True

#### Leyenda de las columnas

- Soja usada para comida humana, soja usada para alimentaci√≥n de ganado y soja usada para procesados o aceites. Todo en toneladas.
-  Soja producida en t, soja utilizada en comercio de t/ha, superficie de area plantada ha

In [354]:
soy.to_csv('../data/Soy/soy_clean.csv', index=False)

## Aceites 

Cargamos datos del consumo y producci√≥n de los aceites seg√∫n su origen

In [355]:
columns = ['Entity', 'Code', 'Year', 'Coconut', 'Groundnut', 'Palm', 'Sesame', 'Sunflower', 'Cottonseed', 'Olive', 'Rapeseed', 'Soybean']

oil_yield = pd.read_csv('..\data\Palm\oil-yield-by-crop.csv', names=columns, header=1)
oil_yield

,Entity,Code,Year,Coconut,Groundnut,Palm,Sesame,Sunflower,Cottonseed,Olive,Rapeseed,Soybean
0,Afghanistan,AFG,1962,NaN,NaN,NaN,0.056506,0.378042,0.084737,0.1496,NaN,NaN
1,Afghanistan,AFG,1963,NaN,NaN,NaN,0.055145,0.378042,0.096713,0.1360,NaN,NaN
2,Afghanistan,AFG,1964,NaN,NaN,NaN,0.082000,0.378042,0.065567,0.1496,NaN,NaN
3,Afghanistan,AFG,1965,NaN,NaN,NaN,0.084964,0.390090,0.097932,0.1360,NaN,NaN
4,Afghanistan,AFG,1966,NaN,NaN,NaN,0.094843,0.414187,0.134445,0.1496,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12162,Zimbabwe,ZWE,2016,NaN,0.037665,NaN,NaN,0.166113,0.061971,NaN,NaN,0.240391
12163,Zimbabwe,ZWE,2017,NaN,0.036669,NaN,NaN,0.181400,0.082358,NaN,NaN,0.612375
12164,Zimbabwe,ZWE,2018,NaN,0.049197,NaN,NaN,0.170973,0.074162,NaN,NaN,0.394028
12165,Zimbabwe,ZWE,2019,NaN,0.060487,NaN,NaN,0.097837,0.110400,NaN,NaN,0.250483
12166,Zimbabwe,ZWE,2020,NaN,0.057387,NaN,NaN,0.184672,0.095483,NaN,NaN,0.282898

In [356]:
columns = ['Entity', 'Code', 'Year', 'Sesame', 'Maize', 'Safflower', 'Coconut', 'Sunflower', 'Rapeseed', 'Palm kernel', 'Groundnut', 'Linseed', 'Olive', 'Palm', 'Soybean', 'Cottonseed']

oil_prod = pd.read_csv(r"..\data\Palm\vegetable-oil-production.csv", names=columns, header=1)
oil_prod

,Entity,Code,Year,Sesame,Maize,Safflower,Coconut,Sunflower,Rapeseed,Palm kernel,Groundnut,Linseed,Olive,Palm,Soybean,Cottonseed
0,Afghanistan,AFG,2011,1292.0,NaN,NaN,NaN,60.0,NaN,NaN,NaN,674.65,538.56,NaN,NaN,3725.00
1,Afghanistan,AFG,2012,1261.0,NaN,NaN,NaN,61.0,NaN,NaN,NaN,706.30,538.56,NaN,NaN,4097.97
2,Afghanistan,AFG,2013,1334.0,NaN,NaN,NaN,138.0,NaN,NaN,NaN,733.57,545.93,NaN,NaN,4761.86
3,Afghanistan,AFG,2014,1250.0,NaN,NaN,NaN,960.0,NaN,NaN,NaN,790.00,658.42,NaN,NaN,4832.28
4,Afghanistan,AFG,2015,861.0,NaN,NaN,NaN,1035.0,NaN,NaN,NaN,5374.63,711.37,NaN,NaN,5690.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12703,Zimbabwe,ZWE,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7560.0,NaN,NaN,NaN,NaN,540.00
12704,Zimbabwe,ZWE,1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6300.0,NaN,NaN,NaN,NaN,1260.00
12705,Zimbabwe,ZWE,1966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4956.0,NaN,NaN,NaN,NaN,1260.00
12706,Zimbabwe,ZWE,1967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7518.0,NaN,NaN,NaN,NaN,3474.00
12707,Zimbabwe,ZWE,1968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7140.0,NaN,NaN,NaN,NaN,2520.00

In [357]:
oil_yield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12167 entries, 0 to 12166
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Entity      12167 non-null  object
 1   Code        9589 non-null   object
 2   Year        12167 non-null  int64
 3   Coconut     5396 non-null   float64
 4   Groundnut   6774 non-null   float64
 5   Palm        3584 non-null   float64
 6   Sesame      4345 non-null   float64
 7   Sunflower   5470 non-null   float64
 8   Cottonseed  7127 non-null   float64
 9   Olive       3369 non-null   float64
 10  Rapeseed    4762 non-null   float64
 11  Soybean     5594 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 1.1+ MB

Limpieza de los df. Decidimos dejarlos separados para un mejor estudio de ellos a posteriori pero creamos una columna con id para las relaciones.

In [358]:
oil_yield = oil_yield[~oil_yield['Entity'].str.contains('(FAO)')].reset_index(drop=True)
oil_yield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10300 entries, 0 to 10299
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Entity      10300 non-null  object
 1   Code        9589 non-null   object
 2   Year        10300 non-null  int64
 3   Coconut     4201 non-null   float64
 4   Groundnut   5139 non-null   float64
 5   Palm        2590 non-null   float64
 6   Sesame      3027 non-null   float64
 7   Sunflower   3949 non-null   float64
 8   Cottonseed  5478 non-null   float64
 9   Olive       2288 non-null   float64
 10  Rapeseed    3342 non-null   float64
 11  Soybean     4026 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 965.8+ KB

C:\Users\Nerea\AppData\Local\Temp\ipykernel_8444\854352433.py:1: UserWarning:

This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.

In [359]:
oil_yield.loc[oil_yield['Entity'] == 'European Union (27)', 'Entity'] = 'European Union'
oil_yield.loc[oil_yield['Entity'] =="Cote d'Ivoire", 'Entity'] = 'Ivory Coast'
oil_yield.loc[oil_yield['Entity'] == 'Democratic Republic of Congo'] = 'Congo'
oil_yield.loc[oil_yield['Entity'] == 'Micronesia (country)'] = 'Micronesia'

In [360]:
oil_prod = oil_prod[~oil_prod['Entity'].str.contains('(FAO)')].reset_index(drop=True)
oil_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Entity       10841 non-null  object
 1   Code         10130 non-null  object
 2   Year         10841 non-null  int64
 3   Sesame       739 non-null    float64
 4   Maize        3419 non-null   float64
 5   Safflower    320 non-null    float64
 6   Coconut      5869 non-null   float64
 7   Sunflower    988 non-null    float64
 8   Rapeseed     819 non-null    float64
 9   Palm kernel  3785 non-null   float64
 10  Groundnut    6065 non-null   float64
 11  Linseed      4061 non-null   float64
 12  Olive        2485 non-null   float64
 13  Palm         3153 non-null   float64
 14  Soybean      1208 non-null   float64
 15  Cottonseed   6166 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 1.3+ MB

C:\Users\Nerea\AppData\Local\Temp\ipykernel_8444\2797232385.py:1: UserWarning:

This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.

In [361]:
oil_prod.loc[oil_prod['Entity'] == 'European Union (27)', 'Entity'] = 'European Union'
oil_prod.loc[oil_prod['Entity'] =="Cote d'Ivoire", 'Entity'] = 'Ivory Coast'
oil_prod.loc[oil_prod['Entity'] == 'Democratic Republic of Congo'] = 'Congo'
oil_prod.loc[oil_prod['Entity'] == 'Micronesia (country)'] = 'Micronesia'

In [362]:
# Dejamos los valores nulos porque representan que no existe la producci√≥n de ese vegetale en ese momento. Rellenarlos con valores ser√≠a sesgar la info.

In [363]:
# Creamos un diccionario con los nombres de paises y su id. Se aplica mapeando a los dos df de oil.

dic = soy.set_index('Entity')['Code'].to_dict()
oil_prod['Code'] = oil_prod['Entity'].map(dic)
oil_yield['Code'] = oil_yield['Entity'].map(dic)
max(soy['Code'])

131

In [364]:
nul_ind = oil_prod['Code'].isnull()
ent = oil_prod.loc[nul_ind, 'Entity'].unique()
fac = pd.factorize(ent)[0] + 132
ma = dict(zip(ent, fac))
ser = oil_prod['Entity'].map(ma)

oil_prod.loc[nul_ind, 'Code'] = ser
oil_prod['Code'] = oil_prod['Code'].astype(int)
# oil_prod['Code'].value_counts()

In [365]:
nul_ind = oil_yield['Code'].isnull()
ent = oil_yield.loc[nul_ind, 'Entity'].unique()
fac = pd.factorize(ent)[0] + 132
ma = dict(zip(ent, fac))
ser = oil_yield['Entity'].map(ma)

oil_yield.loc[nul_ind, 'Code'] = ser
oil_yield['Code'] = oil_yield['Code'].astype(int)
# oil_prod['Code'].value_counts()

In [366]:
oil_prod.to_csv('../data/Palm/oil_prod_clean.csv', index=False)
oil_yield.to_csv('../data/Palm/oil_yield_clean.csv', index=False)

#### Habitantes por regiones

Creamos el df de habitantes y le asignamos el id.

In [367]:
pop = pd.read_csv('../data/Population/population.csv')
pop.head()

        Entity  Population
0        Congo    89561403
1       Malawi    19930763
2  North Korea    25778816
3        Nepal    29996478
4  Netherlands    17134873

In [368]:
ids = oil_yield.set_index('Entity')['Code'].to_dict()
pop['Code'] = pop['Entity'].map(ids)
# hab['Code'] = hab['Code'].astype(int)
pop.loc[pop['Code'].isnull(), 'Entity']

Series([], Name: Entity, dtype: object)

In [369]:
print(set(hab['Entity']) - set(oil_yield['Entity']))

set()

In [370]:
pop.to_csv('../data/Population/population_clean.csv')

In [371]:
#Pruebas visualizaciones

In [372]:
soy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5469 entries, 0 to 5468
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Entity          5469 non-null   object
 1   Code            5469 non-null   int64
 2   Year            5458 non-null   float64
 3   Food            5358 non-null   float64
 4   Feed            3079 non-null   float64
 5   Processed       4404 non-null   float64
 6   Production      5456 non-null   float64
 7   Yield           5083 non-null   float64
 8   Area harvested  5452 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 384.7+ KB

In [373]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Agrupar los datos filtrados por a√±o y sumar el Feed para cada a√±o y pa√≠s
agregado = df_top_countries.groupby(['Year', 'Entity'])['Feed'].sum().unstack()

# Crear subplots con una sola fila y una columna
fig = make_subplots(rows=1, cols=1)

# A√±adir las barras apiladas al subplot
for pais in agregado.columns:
    fig.add_trace(go.Bar(x=agregado.index, y=agregado[pais], name=pais), 1, 1)

# Establecer el t√≠tulo y las etiquetas de los ejes
fig.update_layout(title='Total de Feed por a√±o para los 10 pa√≠ses con m√°s n√∫mero en Feed',
                  xaxis_title='A√±o',
                  yaxis_title='Total de Feed')

# Mostrar el gr√°fico
fig.show()

In [374]:
agregado = soy.groupby(['Year', 'Entity'])['Feed'].sum().unstack()

top_continents = soy.groupby('Entity')['Feed'].sum().nlargest(5).index

# Filtrar los datos para incluir solo los continentes seleccionados
df_top_continents = soy[soy['Entity'].isin(top_continents)]

# Agrupar los datos filtrados por 'Year' y 'Entity' y sumar el 'Feed'
agregado = df_top_continents.groupby(['Year', 'Entity'])['Feed'].sum().unstack()

# Crear subplots con una sola fila y una columna
fig = make_subplots(rows=1, cols=1)

# A√±adir las barras apiladas al subplot
for continente in agregado.columns:
    fig.add_trace(go.Bar(x=agregado.index, y=agregado[continente], name=continente), 1, 1)

# Establecer el t√≠tulo y las etiquetas de los ejes
fig.update_layout(title='Total de Feed por a√±o para los cinco continentes',
                  xaxis_title='A√±o',
                  yaxis_title='Total de Feed')

# Mostrar el gr√°fico
fig.show()